<table width="100%" border="1">
  <tr bgcolor="#5b69a6"> 
    <td width="10%"> 
      <div align="center"><b>SYMBOL</font></b></font></div>
    </td>
    <td width="19%" bgcolor="#5b69a6"> 
      <div align="center"><b>COMPANY</b></font></div>
    </td>
    <td width="11%"> 
      <div align="center"><b>LAST 
        TRADE </font></div>
    </td>
    <td width="11%">
      <div align="center"><b>TIME OF TRADE </font></b></div>
    </td>
    <td width="11%">
      <div align="center"><b> DATE of TRADE
        </font></b></div>
    </td>
    <td width="17%"> 
      <div align="center"><b>CHANGE</b></font></div>
    </td>
    <td width="13%"> 
      <div align="center"><b>VOLUME</font></b></div>
    </td>
  </tr>

