/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer1 {
	clear: both;
	border: 1px solid #EEEEEE;
	height: 156px;
	overflow: auto;
	width: 330px
	/*756px*/	
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer1 {
	overflow: hidden;
	width: 330px
	/*756px*/
}

/* define width of table. IE browsers only                 */
div.tableContainer1 table {
	float: left;
	width: 328px
	/*740px*/
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer1 table {
	width: 330px
	/*756px*/
}


/*******************************************************************************************/
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer2 {
	clear: both;
	border: 1px solid #EEEEEE;
	height: 65px;
	overflow: auto;
	width: 330px
	/*756px*/	
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer2 {
	overflow: hidden;
	width: 330px
	/*756px*/
}

/* define width of table. IE browsers only                 */
div.tableContainer2 table {
	float: left;
	width: 328px
	/*740px*/
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer2 table {
	width: 330px
	/*756px*/
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer2a {
	clear: both;
	border: 1px solid #EEEEEE;
	height: 107px;
	overflow: auto;
	width: 330px
	/*756px*/	
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer2a {
	overflow: hidden;
	width: 330px
	/*756px*/
}

/* define width of table. IE browsers only                 */
div.tableContainer2a table {
	float: left;
	width: 328px
	/*740px*/
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer2a table {
	width: 330px
	/*756px*/
}


/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer2b {
	clear: both;
	border: 1px solid #EEEEEE;
	height: 110px;
	overflow: auto;
	width: 330px
	/*756px*/	
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer2b {
	overflow: hidden;
	width: 330px
	/*756px*/
}

/* define width of table. IE browsers only                 */
div.tableContainer2b table {
	float: left;
	width: 328px
	/*740px*/
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer2b table {
	width: 330px
	/*756px*/
}


