/**
 * POPUP PROGRESS CONTAINER STYLES
 */
#popupMask {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .2;
	filter: alpha(opacity=20);
	background-color:transparent !important;
	background-image/**/: url("maskBG.png") !important; // For browsers Moz, Opera, etc.
	background-image:none;
	background-repeat: repeat;
	display:none;
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	opacity: .2;
	filter: alpha(opacity=20);
	background-color:transparent !important;
}

#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}